In [10]:
import pandas as pd
awards = pd.read_csv('awards_individual_new.csv')
players = pd.read_csv('players.csv')
players_with_awards = list(awards['player_id'].unique())
players_without_awards = players[~players['player_id'].isin(players_with_awards)]
ids_of_players_without_awards = list(players_without_awards['player_id'].unique())

for i in ids_of_players_without_awards:
    player = players_without_awards[players_without_awards['player_id'] == i]
    temp = pd.DataFrame(columns=awards.columns)
    temp['player_id'] = player['player_id']
    temp['player_name'] = player['player_name']
    awards = pd.concat([awards, temp], ignore_index=True)
 
awards

,player_id,player_name,lg,mvp_count,mvp_seasons,roy_season,dpoy_count,dpoy_seasons,mip_count,mip_seasons,smoy_count,smoy_seasons,fmvp_count,fmvp_seasons
0,76003,Kareem Abdul-Jabbar,NBA,6,"1979-80, 1976-77, 1975-76, 1973-74, 1971-72, 1...",1969-70,0,0,0,0,0,0,2,"1984-85, 1970-71"
1,893,Michael Jordan,NBA,5,"1997-98, 1995-96, 1991-92, 1990-91, 1987-88",1984-85,1,1987-88,0,0,0,0,6,"1997-98, 1996-97, 1995-96, 1992-93, 1991-92, 1..."
2,2544,LeBron James,NBA,4,"2012-13, 2011-12, 2009-10, 2008-09",2003-04,0,0,0,0,0,0,4,"2019-20, 2015-16, 2012-13, 2011-12"
3,1449,Larry Bird,NBA,3,"1985-86, 1984-85, 1983-84",1979-80,0,0,0,0,0,0,2,"1985-86, 1983-84"
4,77142,Magic Johnson,NBA,3,"1989-90, 1988-89, 1986-87",0,0,0,0,0,0,0,3,"1986-87, 1981-82, 1979-80"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3527,1627757,Stephen Zimmerman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3528,1627835,Paul Zipser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3529,1627790,Ante Zizic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3530,78647,Jim Zoet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3531,1627826,Ivica Zubac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
awards.fillna(0, inplace=True)
awards['player_id'] = awards['player_id'].astype(int)
awards['mvp_seasons'] = awards['mvp_seasons'].astype(str)
awards['mvp_count'] = awards['mvp_count'].astype(int)
awards['mvp_seasons'] = awards['mvp_seasons'].astype(str)
awards['dpoy_seasons'] = awards['dpoy_seasons'].astype(str)
awards['smoy_seasons'] = awards['smoy_seasons'].astype(str)
awards['mip_seasons'] = awards['mip_seasons'].astype(str)
awards['mip_count'] = awards['mip_count'].astype(int)
awards['fmvp_seasons'] = awards['fmvp_seasons'].astype(str)
awards['fmvp_count'] = awards['fmvp_count'].astype(int)
awards['smoy_count'] = awards['smoy_count'].astype(int)
awards['dpoy_count'] = awards['dpoy_count'].astype(int)
awards['lg'] = awards['lg'].astype(str)

awards.to_csv('awards_individual_filled.csv', index=False)