In [28]:


db_players = pd.read_csv('players.csv')
legoat = PlayerCareerStats(player_id=2544, per_mode36="PerGame").get_data_frames()[0]
# Average stats per season
legoat.dtypes
# Remove season id, league id, team id, team abbreviation, player id, player name
legoat = legoat.drop(['SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'PLAYER_AGE'], axis=1)
# Find avg stats for career, group by player id
legoat = legoat.groupby('PLAYER_ID').mean()
# Round to a decimal place  
legoat = legoat.round(2)
# Divide every row by amount of games played
for column in legoat.columns:
    # Print values to see what is being divided
    print(column, legoat[column].values[0])

GP 68.9
GS 68.81
MIN 37.65
FGM 9.95
FGA 19.65
FG_PCT 0.51
FG3M 1.67
FG3A 4.79
FG3_PCT 0.35
FTM 5.53
FTA 7.55
FT_PCT 0.73
OREB 1.15
DREB 6.41
REB 7.55
AST 7.34
STL 1.51
BLK 0.74
TOV 3.5
PF 1.8
PTS 27.1

In [29]:

db_players = pd.read_csv('players.csv')
legoat = PlayerCareerStats(player_id=78570, per_mode36="PerGame").get_data_frames()[0]
# Average stats per season
legoat.dtypes
# Remove season id, league id, team id, team abbreviation, player id, player name
legoat = legoat.drop(['SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'PLAYER_AGE'], axis=1)
# Find avg stats for career, group by player id
legoat = legoat.groupby('PLAYER_ID').mean()
# Round to a decimal place  
legoat = legoat.round(2)
print(legoat)
# Divide every row by amount of games played
for column in legoat.columns:
    # Print values to see what is being divided
    print(column, legoat[column].values[0])

              GP    GS    MIN   FGM  FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
PLAYER_ID
78570      43.57  10.8  19.91  3.67  8.4    0.41  0.03  0.36     0.14  2.13

           ...  FT_PCT  OREB  DREB   REB   AST   STL   BLK   TOV    PF   PTS
PLAYER_ID  ...
78570      ...    0.68  1.51  2.44  3.94  1.71  0.93  0.17  1.69  2.39  9.56

[1 rows x 21 columns]
GP 43.57
GS 10.8
MIN 19.91
FGM 3.67
FGA 8.4
FG_PCT 0.41
FG3M 0.03
FG3A 0.36
FG3_PCT 0.14
FTM 2.13
FTA 3.06
FT_PCT 0.68
OREB 1.51
DREB 2.44
REB 3.94
AST 1.71
STL 0.93
BLK 0.17
TOV 1.69
PF 2.39
PTS 9.56

In [34]:
from nba_api.stats.endpoints import PlayerCareerStats
import pandas as pd

In [35]:
import time
def make_dataframe_avg(player_id, df):
    player = PlayerCareerStats(player_id=player_id, per_mode36="PerGame").get_data_frames()[0]
    player = player.drop(['SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'PLAYER_AGE'], axis=1)
    player['player_id'] = player_id
    player = player.groupby('PLAYER_ID').mean()
    player = player.round(2)
    df.append(player)
    return player

players = pd.read_csv('players.csv')
temp = players[players['from'] <= 1979]
df = []
for index, row in temp.iterrows():
    print(index)
    player_id = row['player_id']
    make_dataframe_avg(player_id, df)
    
df = pd.concat(df)
print(df)

1
5
11
104
128
144
159

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

166
177

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

187
192

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

221
236
241
247

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

253
261
315
324

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

339

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

343
360
368
369
373
379
404
409
425

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

436
445
458
466

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

479
490
493

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

511
514

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

515
516

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

527
536
558
564
565

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

573
597
615

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

651
653
661
671
682
685
715
723
735
743

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

750
754
757
808
822

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

832
846
867
898
914

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

916

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

924
932
938
977
1005
1006
1008
1035

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1038
1049

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1057
1103

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1105
1106
1123

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1127
1130

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1139
1201

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1202
1213
1218
1223
1225
1281
1322
1327
1333
1342
1345

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1354
1372
1383
1387
1396
1414

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1462
1498

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1524

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1588
1594
1599
1600
1606
1616
1617
1619
1638
1640
1651
1676
1687
1702
1710
1731
1751
1757
1772
1779
1783

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1784
1792
1797
1804
1812
1821
1842

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

1851
1892
1902
1916
1918
1958
1969
2018
2020
2030
2038

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2069
2074
2087
2097
2114

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2117
2121

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2164
2168
2179

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2182

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2239
2274
2298
2310
2365
2367

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2396
2414
2418
2433
2470
2481

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2513
2517
2592

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2602
2613
2620
2633
2650
2657
2668
2680
2683
2684
2686
2696
2708
2729
2748

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2779
2782

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2819
2825
2827

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2833
2834
2835
2850

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2865
2878

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2906
2907
2909
2911

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

2917
2925
2946
2951
3022

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3026
3054
3086
3093
3116
3129

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3157
3160

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3169
3216

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3228
3231

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3240
3251
3253

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3269
3272
3288
3298

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3299
3319
3333

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()
/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3339
3343
3352

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3363
3364
3387
3389
3418
3437

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3440
3449

/var/folders/pp/xfkmnckj3s35wkqpsw2vj1wc0000gn/T/ipykernel_75865/3582934251.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  player = player.groupby('PLAYER_ID').mean()

3461
3493
              GP     GS    MIN    FGM    FGA  FG_PCT  FG3M  FG3A  FG3_PCT  \
PLAYER_ID
76003      78.00  73.80  36.79  10.15  18.16    0.56  0.00  0.00     0.03
76005      51.14   5.71  13.39   1.64   3.40    0.45  0.00  0.00     0.00
76011      76.00  57.23  27.49   5.78  11.61    0.50  0.00  0.01     0.09
76054      67.38  58.31  35.04   6.55  14.05    0.46  0.08  0.26     0.21
76078      54.88  16.62  17.26   1.52   3.36    0.44  0.00  0.00     0.00
...          ...    ...    ...    ...    ...     ...   ...   ...      ...
78575      44.82    NaN  30.02   7.68  17.26    0.44  0.18  0.62     0.27
78577      55.00   8.80  16.95   2.35   5.09    0.46  0.03  0.14     0.20
78583      33.00    NaN  10.75   0.85   3.00    0.28  0.00  0.00      NaN
78600      72.22  12.50  30.26   6.78  14.29    0.47  0.45  1.18     0.36
78623      57.17   0.00  17.82   2.88   6.35    0.39  0.03  0.13     0.27

            FTM  ...  OREB  DREB    REB   AST   STL   BLK   TOV    PF    PTS  \
PLAYER_ID        ...
76003      4.29  ...  2.41  7.59  11.17  3.62  0.94  2.58  2.72  2.98  24.59
76005      0.76  ...  0.90  1.53   2.46  0.91  0.44  0.14  0.40  1.36   4.07
76011      2.53  ...  2.04  4.98   7.04  4.05  1.28  0.81  2.61  3.25  14.08
76054      5.15  ...  0.54  1.57   2.30  7.26  1.15  0.13  2.67  2.25  18.23
76078      0.89  ...  1.11  2.43   4.06  1.69  0.31  0.32  0.91  2.32   3.94
...         ...  ...   ...   ...    ...   ...   ...   ...   ...   ...    ...
78575      3.26  ...  0.66  1.69   2.33  2.64  1.06  0.19  2.28  2.82  18.67
78577      0.87  ...  1.28  2.35   3.59  0.84  0.39  0.53  0.96  1.95   5.58
78583      0.60  ...  0.35  0.55   0.90  1.70  0.65  0.15  1.15  0.85   2.30
78600      2.16  ...  0.71  1.84   2.56  4.02  1.21  0.28  2.32  2.81  15.91
78623      1.07  ...  0.43  0.93   1.38  2.85  0.68  0.15  1.50  2.28   6.83

           player_id
PLAYER_ID
76003        76003.0
76005        76005.0
76011        76011.0
76054        76054.0
76078        76078.0
...              ...
78575        78575.0
78577        78577.0
78583        78583.0
78600        78600.0
78623        78623.0

[243 rows x 22 columns]

In [36]:
# Rename columns
df.reset_index(inplace=True)
df = df.rename(columns={'GP': 'games', 'GS': 'gs', 'MIN':'mp', 'FGM':'fg', 'FGA': 'fga', 'FG_PCT':'fg_percent', 'FG3M':'threeP', 'FG3A':'threePA', 'FG3_PCT':'three_percent', 'FTM': 'ft', 'FTA':'fta', 'FT_PCT':'ft_percent', 'OREB':'orb', 'DREB':'drb', 'REB':'trb', 'AST':'ast', 'STL':'stl', 'BLK':'blk', 'TOV':'tov', 'PF':'pf', 'PTS':'pts'})
df

,PLAYER_ID,games,gs,mp,fg,fga,fg_percent,threeP,threePA,three_percent,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,player_id
0,76003,78.00,73.80,36.79,10.15,18.16,0.56,0.00,0.00,0.03,...,2.41,7.59,11.17,3.62,0.94,2.58,2.72,2.98,24.59,76003.0
1,76005,51.14,5.71,13.39,1.64,3.40,0.45,0.00,0.00,0.00,...,0.90,1.53,2.46,0.91,0.44,0.14,0.40,1.36,4.07,76005.0
2,76011,76.00,57.23,27.49,5.78,11.61,0.50,0.00,0.01,0.09,...,2.04,4.98,7.04,4.05,1.28,0.81,2.61,3.25,14.08,76011.0
3,76054,67.38,58.31,35.04,6.55,14.05,0.46,0.08,0.26,0.21,...,0.54,1.57,2.30,7.26,1.15,0.13,2.67,2.25,18.23,76054.0
4,76078,54.88,16.62,17.26,1.52,3.36,0.44,0.00,0.00,0.00,...,1.11,2.43,4.06,1.69,0.31,0.32,0.91,2.32,3.94,76078.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,78575,44.82,NaN,30.02,7.68,17.26,0.44,0.18,0.62,0.27,...,0.66,1.69,2.33,2.64,1.06,0.19,2.28,2.82,18.67,78575.0
239,78577,55.00,8.80,16.95,2.35,5.09,0.46,0.03,0.14,0.20,...,1.28,2.35,3.59,0.84,0.39,0.53,0.96,1.95,5.58,78577.0
240,78583,33.00,NaN,10.75,0.85,3.00,0.28,0.00,0.00,NaN,...,0.35,0.55,0.90,1.70,0.65,0.15,1.15,0.85,2.30,78583.0
241,78600,72.22,12.50,30.26,6.78,14.29,0.47,0.45,1.18,0.36,...,0.71,1.84,2.56,4.02,1.21,0.28,2.32,2.81,15.91,78600.0
242,78623,57.17,0.00,17.82,2.88,6.35,0.39,0.03,0.13,0.27,...,0.43,0.93,1.38,2.85,0.68,0.15,1.50,2.28,6.83,78623.0

In [37]:
#df.drop(['FG3M'], axis=1, inplace=True)
#df.drop(['FTM'], axis=1, inplace=True)
#df.drop(['FGM'], axis=1, inplace=True)
#df.drop(['PLAYER_ID'], axis=1, inplace=True)
# Make last column first
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]

In [38]:
players_per_game = pd.read_csv('player_stats_per_game_new.csv')
players = pd.read_csv('players.csv')
players_after_1979 = players[players['from'] > 1979]
id_list = players_after_1979['player_id'].unique()
players_per_game = players_per_game[players_per_game['player_id'].isin(id_list)]
averages_playoffs = []
averages_regular = []
list_of_columns_to_average = ["games","gs","mp","fg","fga","fg_percent","threeP","threePA","three_percent","twoP","twoPA","two_percent","eFG_percent","ft","fta","ft_percent","orb","drb","trb","ast","stl","blk","tov","pf","pts"]
for iden in id_list:
    temp = players_per_game[players_per_game['player_id'] == iden]
    temp = temp.drop(['player_name', 'pos', 'tm', 'year', 'age'], axis=1)
    for col in list_of_columns_to_average:
        temp[col] = temp[col].clip(lower=0)
    grouped = temp.groupby('playoffs_s').mean()
    if 'Y' in grouped.index:
        play_temp = grouped.loc['Y']
        play_temp['playoffs_s'] = 1
        averages_playoffs.append(play_temp.round(2))
    if 'N' in grouped.index:
        reg_temp = grouped.loc['N']
        reg_temp['playoffs_s'] = 0
        averages_regular.append(reg_temp.round(2))
    
playoffs_df = pd.concat(averages_playoffs, axis=1).T.reset_index(drop=True)
regular_season_df = pd.concat(averages_regular, axis=1).T.reset_index(drop=True)
merged_stats = pd.concat([playoffs_df, regular_season_df])

In [39]:
merged_stats['player_id'] = merged_stats['player_id'].astype(int)
merged_stats['playoffs_s'] = merged_stats['playoffs_s'].astype(int)
merged_stats_attempt = merged_stats.copy()
merged_stats[merged_stats['player_id'] == 76001]
merged_stats.head(30)

,player_id,games,gs,mp,fg,fga,fg_percent,threeP,threePA,three_percent,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,playoffs_s
0,76001,5.67,1.33,7.33,1.27,2.83,0.43,0.00,0.00,0.00,...,0.23,1.23,1.47,0.20,0.00,0.10,0.87,0.77,2.60,1
1,51,7.50,7.00,26.50,4.40,11.90,0.37,0.85,3.55,0.25,...,0.50,1.15,1.60,2.10,0.55,0.05,1.95,2.55,13.10,1
2,1505,6.50,2.50,14.00,2.05,5.20,0.38,0.00,0.25,0.00,...,1.30,2.00,3.30,0.85,0.40,0.40,0.35,1.20,5.85,1
3,949,6.00,0.00,21.00,3.80,7.20,0.54,0.00,0.50,0.00,...,1.30,3.50,4.80,1.20,0.30,0.00,2.20,4.50,9.20,1
4,203518,5.50,0.00,17.00,1.45,3.95,0.37,1.00,2.80,0.38,...,0.45,1.80,2.25,0.55,0.40,0.15,0.10,1.70,4.40,1
5,1630173,4.50,0.50,15.50,2.60,5.00,0.62,0.40,1.35,0.16,...,0.65,2.75,3.40,0.50,0.10,0.75,1.40,1.30,6.25,1
6,76009,9.50,0.00,5.00,0.40,1.00,0.27,0.00,0.25,0.00,...,0.40,0.90,1.30,0.05,0.05,0.05,0.20,0.95,1.10,1
7,200801,6.00,0.00,1.00,0.20,0.30,0.50,0.00,0.00,0.00,...,0.00,0.20,0.20,0.00,0.00,0.00,0.00,0.50,0.30,1
8,1629121,3.00,0.00,7.00,1.00,3.00,0.33,0.00,1.30,0.00,...,0.30,0.70,1.00,0.70,0.30,0.00,0.00,0.30,2.00,1
9,203919,4.00,0.00,2.00,0.50,0.80,0.67,0.30,0.30,1.00,...,0.00,0.30,0.30,0.00,0.30,0.00,0.00,0.00,1.80,1
10,149,4.00,3.20,29.20,4.16,10.88,0.38,1.84,5.52,0.26,...,0.66,2.76,3.42,4.32,1.34,0.04,2.10,2.00,12.04,1
11,203500,9.43,6.57,27.00,3.56,5.83,0.60,0.00,0.06,0.00,...,2.94,4.64,7.59,1.23,0.60,0.86,1.10,2.40,8.26,1
12,912,3.00,0.00,9.50,1.70,5.60,0.31,0.50,1.00,0.25,...,0.30,0.30,0.60,1.00,0.30,0.00,0.30,0.30,4.20,1
13,1628389,13.80,12.80,31.20,5.50,10.74,0.51,0.00,0.10,0.00,...,2.52,5.76,8.30,3.02,0.84,0.62,2.10,2.74,13.88,1
14,201167,5.83,3.17,20.50,2.57,6.33,0.40,0.57,2.20,0.22,...,0.20,1.82,2.02,1.28,0.20,0.18,0.82,2.25,6.77,1
15,200772,3.00,0.00,8.00,1.70,3.00,0.56,0.70,1.00,0.67,...,0.30,0.70,1.00,0.00,0.00,0.00,0.00,1.00,5.00,1
16,76016,11.33,6.33,30.11,7.27,15.14,0.47,0.36,1.19,0.27,...,2.00,3.44,5.44,2.80,0.80,0.19,2.23,2.91,18.53,1
17,201336,3.00,0.00,2.00,0.70,1.00,0.67,0.30,0.30,1.00,...,0.00,0.00,0.00,0.70,0.00,0.00,0.00,0.00,1.70,1
18,76017,16.08,6.25,24.67,3.56,7.85,0.45,0.87,2.18,0.40,...,0.59,1.61,2.19,3.19,0.83,0.10,1.26,2.72,9.46,1
19,201582,3.00,0.00,3.00,1.30,1.30,1.00,0.00,0.00,0.00,...,0.00,0.30,0.30,0.30,0.30,0.00,0.00,0.70,2.70,1
20,76019,2.00,0.00,8.50,2.00,3.50,0.55,0.50,1.00,0.25,...,0.00,1.35,1.35,0.15,0.35,0.35,0.65,1.50,4.85,1
21,1630583,6.00,0.00,16.00,2.50,5.50,0.46,1.20,2.50,0.47,...,1.20,3.20,4.30,1.20,0.50,0.00,0.30,0.80,6.50,1
22,202332,5.50,0.00,8.50,1.25,2.15,0.56,0.00,0.00,0.00,...,1.15,2.65,3.80,0.25,0.50,0.25,0.15,1.20,2.90,1
23,200746,8.00,8.00,37.33,8.08,18.03,0.45,0.28,0.80,0.41,...,2.56,6.04,8.59,1.74,0.70,1.44,1.56,2.73,21.03,1
24,724,9.00,0.00,7.00,1.10,2.70,0.42,0.10,0.60,0.20,...,0.40,0.60,1.00,1.00,0.20,0.00,0.70,0.90,2.90,1
25,2042,5.00,0.00,7.00,1.40,3.20,0.44,0.20,0.20,1.00,...,0.40,0.40,0.80,0.20,0.40,0.00,0.20,1.20,3.60,1
26,1630234,1.00,0.00,1.00,1.00,1.00,1.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2.00,1
27,2349,2.50,0.00,4.50,0.40,1.15,0.30,0.00,0.00,0.00,...,0.15,1.15,1.25,0.15,0.25,0.00,0.25,1.00,0.90,1
28,1629638,3.00,2.00,17.00,2.50,4.50,0.71,1.00,2.50,0.20,...,0.10,1.40,1.50,1.20,0.80,0.10,0.40,0.90,6.70,1
29,76024,4.33,0.00,8.33,1.67,3.90,0.41,0.47,1.33,0.26,...,0.30,0.43,0.73,1.33,0.20,0.00,0.50,0.83,4.47,1

In [40]:
import numpy as np
# Assuming 'playoffs_s' column contains numeric values (1 or 0) representing playoffs or regular season
#merged_stats_attempt['playoffs_s'] = np.where(merged_stats_attempt['playoffs_s'] == 1, 'Y', 'N').astype(str)

merged_stats_attempt.reset_index(drop=True)
merged_stats_attempt[merged_stats_attempt['player_id'] == 76001]

,player_id,games,gs,mp,fg,fga,fg_percent,threeP,threePA,three_percent,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,playoffs_s
0,76001,5.67,1.33,7.33,1.27,2.83,0.43,0.0,0.00,0.0,...,0.23,1.23,1.47,0.20,0.00,0.10,0.87,0.77,2.60,1
0,76001,42.78,11.67,11.89,2.16,4.66,0.45,0.0,0.01,0.0,...,1.06,2.10,3.18,0.32,0.27,0.22,1.08,1.78,5.08,0

In [41]:
merged_stats_attempt

,player_id,games,gs,mp,fg,fga,fg_percent,threeP,threePA,three_percent,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,playoffs_s
0,76001,5.67,1.33,7.33,1.27,2.83,0.43,0.00,0.00,0.00,...,0.23,1.23,1.47,0.20,0.00,0.10,0.87,0.77,2.60,1
1,51,7.50,7.00,26.50,4.40,11.90,0.37,0.85,3.55,0.25,...,0.50,1.15,1.60,2.10,0.55,0.05,1.95,2.55,13.10,1
2,1505,6.50,2.50,14.00,2.05,5.20,0.38,0.00,0.25,0.00,...,1.30,2.00,3.30,0.85,0.40,0.40,0.35,1.20,5.85,1
3,949,6.00,0.00,21.00,3.80,7.20,0.54,0.00,0.50,0.00,...,1.30,3.50,4.80,1.20,0.30,0.00,2.20,4.50,9.20,1
4,203518,5.50,0.00,17.00,1.45,3.95,0.37,1.00,2.80,0.38,...,0.45,1.80,2.25,0.55,0.40,0.15,0.10,1.70,4.40,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3213,1627757,19.00,0.00,5.00,0.50,1.60,0.32,0.00,0.00,0.00,...,0.60,1.30,1.80,0.20,0.10,0.30,0.20,0.90,1.20,0
3214,1627835,49.00,15.00,17.00,1.75,4.65,0.37,0.75,2.15,0.33,...,0.25,2.35,2.60,0.85,0.35,0.35,0.85,1.70,4.75,0
3215,1627790,37.67,9.00,11.33,2.17,3.67,0.62,0.00,0.00,0.00,...,1.13,2.30,3.43,0.47,0.20,0.33,0.60,1.33,5.30,0
3216,78647,7.00,0.00,4.00,0.10,0.70,0.20,0.00,0.00,0.00,...,0.40,0.70,1.10,0.10,0.10,0.40,0.60,1.30,0.30,0
3217,1627826,55.00,37.78,18.78,3.42,5.84,0.58,0.00,0.02,0.03,...,2.13,4.39,6.54,1.09,0.30,0.88,1.10,2.26,8.49,0

In [42]:
all_career_avg = pd.concat([df, merged_stats_attempt])

In [1]:
all_career_avg.fillna(0, inplace=True)
all_career_avg['player_id'] = all_career_avg['player_id'].astype(int)
# For playoffs_s, if -99, then 'N'
all_career_avg['playoffs_s'] = np.where(all_career_avg['playoffs_s'] == 0, 'N', all_career_avg['playoffs_s']).astype(str)

NameError: name 'all_career_avg' is not defined

In [44]:
all_career_avg.to_csv('player_career_avg.csv', index=False)
all_career_avg

,player_id,PLAYER_ID,games,gs,mp,fg,fga,fg_percent,threeP,threePA,...,stl,blk,tov,pf,pts,twoP,twoPA,two_percent,eFG_percent,playoffs_s
0,76003,76003.0,78.00,73.80,36.79,10.15,18.16,0.56,0.00,0.00,...,0.94,2.58,2.72,2.98,24.59,0.00,0.00,0.00,0.00,N
1,76005,76005.0,51.14,5.71,13.39,1.64,3.40,0.45,0.00,0.00,...,0.44,0.14,0.40,1.36,4.07,0.00,0.00,0.00,0.00,N
2,76011,76011.0,76.00,57.23,27.49,5.78,11.61,0.50,0.00,0.01,...,1.28,0.81,2.61,3.25,14.08,0.00,0.00,0.00,0.00,N
3,76054,76054.0,67.38,58.31,35.04,6.55,14.05,0.46,0.08,0.26,...,1.15,0.13,2.67,2.25,18.23,0.00,0.00,0.00,0.00,N
4,76078,76078.0,54.88,16.62,17.26,1.52,3.36,0.44,0.00,0.00,...,0.31,0.32,0.91,2.32,3.94,0.00,0.00,0.00,0.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3213,1627757,0.0,19.00,0.00,5.00,0.50,1.60,0.32,0.00,0.00,...,0.10,0.30,0.20,0.90,1.20,0.50,1.60,0.32,0.32,N
3214,1627835,0.0,49.00,15.00,17.00,1.75,4.65,0.37,0.75,2.15,...,0.35,0.35,0.85,1.70,4.75,1.05,2.55,0.40,0.45,N
3215,1627790,0.0,37.67,9.00,11.33,2.17,3.67,0.62,0.00,0.00,...,0.20,0.33,0.60,1.33,5.30,2.17,3.67,0.62,0.62,N
3216,78647,0.0,7.00,0.00,4.00,0.10,0.70,0.20,0.00,0.00,...,0.10,0.40,0.60,1.30,0.30,0.10,0.70,0.20,0.20,N
3217,1627826,0.0,55.00,37.78,18.78,3.42,5.84,0.58,0.00,0.02,...,0.30,0.88,1.10,2.26,8.49,3.42,5.81,0.58,0.58,N